body{
    background-image: url(../assets/img/saha.jpg);
}
body audio{
    margin-top: 100px;
    margin-left: 500px;
}
.title1{
    margin-top: 100px ;
    display: inline-block;
    color: white;
    text-shadow: 2px 2px black;
    
}
.title2{
    display: inline-block;
    margin-left: 180px;
    color: white;
    text-shadow: 2px 2px black;
}
.title1 h3{
    font-size: 40px;
}
.title2 h3{
    font-size: 40px;
}
.title1 button{
    border-radius: 20px;
    border: black 2px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.title1 button:hover{
    color: white;
    background-color: black;
}
.title2 button{
    border-radius: 20px;
    border: black 2px solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.title2 button:hover{
    color: white;
    background-color: black;
}
